@use '../utils/mixins';
.projects{
    margin-top: 2rem;
    
}

.projects img {
    width: 45vh;
    height: 22vh;
    border-radius: 1rem;
    -webkit-box-shadow: 10px 17px 42px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 17px 42px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 17px 42px -3px rgba(0,0,0,0.75);
    object-fit: contain;
}

@include mixins.respond-to('small') {
    .projects img {
        width: 30vh; 
    }
}


.myProjs{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    @include mixins.respond-to('medium'){
        flex-direction: column;
    }
}

.cardImg{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.btnsContainer{
    margin-right: 1vh;
    object-fit: contain;
    display: flex;
    white-space: nowrap;
    justify-items: center;
    justify-content: center;
    @include mixins.respond-to('small'){
        flex-direction: column;
        margin-right: 0;
        display:block;
        margin-bottom: 5px;
        justify-items:stretch;
    }
}

.btnsContainer a{
    text-decoration: none;
    object-fit: contain;
    color: #fff;
    padding: 6px;    
}

.btnsContainer .labelWork{
    width: auto;
    height: auto;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}