@use '../utils/variables' as var;
@use '../utils/mixins';

.skills h2{
  font-size: 2rem;
  margin-top: 1rem;

  @include mixins.respond-to('card'){
    text-align: center;
  }

  @include mixins.respond-to('small'){
    font-size: 1.5rem;
  }
}

.skills img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;

  @include mixins.respond-to('small'){
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: var.$secondary-color;
  padding: 5px;
  border-radius: 3rem;
  margin: 0.5rem 0.5rem;
  width: 18rem;
  height: 8rem;
  color: #fff;
  text-align: center;
  font-family: var.$font-principal;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  -webkit-box-shadow: 10px 17px 42px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 17px 42px -3px rgba(0,0,0,0.75);
  box-shadow: 10px 17px 42px -3px rgba(0,0,0,0.75);

  &:hover {
    transform: translateY(-10px);
  }

  &::before {
    content: '';
    position: absolute;
    top: -75px;
    right: -75px;
    width: 128px;
    height: 128px;
    background: linear-gradient(45deg, var.$decoration-color, var.$third-color, var.$text-color);
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.3s ease-in-out;
    z-index: -1; 
    filter: blur(15px); 
    opacity: 0.5;
  }

  &:hover::before {
    transform: scale(7);
    opacity: 0.8;
  }
}

.card h3 {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  position: relative;
  z-index: 2;
}

.card:nth-child(2n) .card-bg {
  background: linear-gradient(45deg, var.$third-color, var.$secondary-color);
}

.card:nth-child(3n) .card-bg {
  background: linear-gradient(45deg, var.$decoration-color, var.$principal-color);
}

.card:nth-child(4n) .card-bg {
  background: linear-gradient(45deg, var.$text-color, var.$third-color);
}



// Animación del gradiente
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.imgCard{
  align-items: center;
  justify-items: center; 
  object-fit: contain;
}
