@forward './utils/variables';
@forward './utils/mixins';
@forward './sections/firstSection.scss';
@forward './sections/me.scss';
@forward './sections/skills.scss';
@forward './sections/projects.scss';
@forward './sections/contact';
@forward './layout/header';
@forward './layout/body';
@forward './layout/footer';
@forward './components/subtitleContainer';
@forward './components/hr';
@forward './components/btns';
@forward './components/labels';
@forward './components/bubble'

