//Variables de color
$principal-color: #0B0C10;
$secondary-color: #1F2833;
$third-color: #C5C6C7;
$text-color: #66FCF1;
$decoration-color: #45A29E;

//Variables de Tipografia
$font-principal: "Poppins", serif;