@use '../utils/mixins';

.titleContainer{
    display: flex;
    width: auto;
    font-size: 1.5rem;

    @include mixins.respond-to('card'){
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .titleContainer svg{
    width: 3rem;
    margin-right: 6px;
    margin-bottom: 8px;
  }