@use '../utils/variables' as var;
@use '../utils/mixins';

body {
  background: linear-gradient(45deg, var.$principal-color, var.$secondary-color, var.$third-color);
  background-size: 400%;
  animation: gradientBackground 20s linear infinite;
  color: white;
  margin: 0;
  padding: 0;
  font-family: var.$font-principal;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem; 
  max-width: 80ch;
  margin: 0 auto; 
  box-sizing: border-box; 

  @include mixins.respond-to('small') {
    max-width: 20ch;
  }

  @include mixins.respond-to('medium') {
    max-width: 60ch; 
  }
}




h1{
  @include mixins.subtitles();
}


@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
